@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>LNU - Web Intelligence - 2DV515</h1>
<h2>Assignment 3 - Search Engine</h2>
<h3>Implementation of a basic search engine for Wikipedia articles.</h3>
